
.ipynb_checkpoints/CIFAR-10_Image_Classifier-checkpoint.ipynb
data/test/cifar-10-batches-py/batches.meta
data/test/cifar-10-batches-py/data_batch_1
data/test/cifar-10-batches-py/data_batch_2
data/test/cifar-10-batches-py/data_batch_3
data/test/cifar-10-batches-py/data_batch_4
data/test/cifar-10-batches-py/data_batch_5
data/test/cifar-10-batches-py/readme.html
data/test/cifar-10-batches-py/test_batch
data/test/cifar-10-python.tar.gz
data/train/cifar-10-batches-py/batches.meta
data/train/cifar-10-batches-py/data_batch_1
data/train/cifar-10-batches-py/data_batch_2
data/train/cifar-10-batches-py/data_batch_3
data/train/cifar-10-batches-py/data_batch_4
data/train/cifar-10-batches-py/data_batch_5
data/train/cifar-10-batches-py/readme.html
data/train/cifar-10-batches-py/test_batch
data/train/cifar-10-python.tar.gz
